<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="http://localhost:4000/public/stylesheets/patient.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
		<title>Patient Information</title>
	</head>

	<body>
		<!--NAV BAR AND BREADCRUMB-->
		<nav class="navbar">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img
						src="http://localhost:4000/public/imgs/logo.svg"
						alt="Logo"
						width="30"
						height="24"
						class="d-inline-block align-text-top"
					/>
					<span class="navbar-brand mb-0 h1">MEDITECH</span>
				</a>
			</div>
		</nav>
		<div id="content">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/backToDoctor">Dashboard</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{patient.patientName}}</li>
				</ol>
			</nav>

			<!--SUMMARY PATIENT INFORMATION-->
			<div id="patientinfodiv" class="row">
				<div id="namediv" class="col-7">
					<h1 id="patientname"><span id="patientnametitle">Patient Name:</span><br />{{patient.patientName}}</h1>
				</div>
				<div id="summaryinfodiv" class="col">
					<div class="row">
						<div id="leftinfo" class="col-6">
							<p>Sex: <span>{{patient.sex}}</span></p>
							<p>Blood Type: <span>{{patient.bloodType}}</span></p>

						</div>
						<div id="rightinfo" class="col">
							<p>Age: <span>{{patient.patientAge}}</span></p>
							<p>Last Visit: <span>{{patient.lastVisit}}</span></p>
						</div>
					</div>

				</div>

			</div>

			<!--THE MEDICAL RECORD INFORMATION-->
			<div id="medicalrecordsdiv">
				<h2 style="padding-bottom: 0.5em;">Patient Medical Records</h2>

				<!-- Button trigger New Record modal -->
				<div id="newrecordbtndiv">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newrecordmodal">New Record</button>
				</div>

				<!-- New Record Modal -->
				<div class="modal fade" id="newrecordmodal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="ModalLabel">New Medical Record</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form action="http://localhost:4000/patients/{{patient.patientID}}/newrecord" method="POST">
									<div class="mb-3">
										<label for="title" class="col-form-label">Session Title:</label>
										<input id="title" name="title" type="text" class="form-control"/>
									</div>
									<div class="mb-3">
										<label for="sessionnotes"  class="col-form-label">Session Notes:</label>
										<textarea id="sessionnotes" name="sessionnotes" class="form-control"></textarea>
									</div>
									<div class="mb-3">
										<label for="prescription" class="col-form-label">Prescription Notes:</label>
										<textarea class="form-control" id="prescription" name="prescription"></textarea>
									</div>
                                    <div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Create</button>
                                </div>
								</form>
							</div>
							</div>
						</div>
					</div>
				<!-- End of NEw Record Modal -->

				<!-- Displaying the Medical Records-->
				<table class="table">
					 <colgroup>
       					<col span="1" style="width: 30%;">
       					<col span="1" style="width: 55%;">
      					 <col span="1" style="width: 15%;">
    				</colgroup>
				<thead>
					<tr>
					<th>Date Created</th>
					<th>Title</th>
					<th></th>
					</tr>
				</thead>
				<tbody id="medical-records-body'">
					{{#each medicalRecords}}
					<tr id="record-{{id}}">
					<td>{{date}}</td>
					<td>{{title}}</td>
					<td>
						<div id="tablebtns">
							<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editRecordModal{{id}}">Details</button>
							<button class="btn btn-danger" onclick="deleteRecord('{{id}}')">Delete</button>
						</div>
					</td>
					</tr>

					<!-- Edit Record Modal/ View Details -->
					<div class="modal fade" id="editRecordModal{{this.id}}" tabindex="-1" aria-labelledby="editRecordModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="editRecordModalLabel">Details</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form>
							<div class="mb-3">
								<label for="recordTitle" class="form-label">Title</label>
								<input type="text" class="form-control" id="recordTitle" value="{{this.title}}">
							</div>
							<div class="mb-3">
								<label for="recordNotes" class="form-label">Description</label>
								<textarea class="form-control" id="recordNotes" rows="3">{{this.sessionnotes}}</textarea>
							</div>
							<div class="mb-3">
								<label for="recordPrescription" class="form-label">Description</label>
								<textarea class="form-control" id="recordPrescription" rows="3">{{this.prescription}}</textarea>
							</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="saveRecord('{{this.id}}')">Save changes</button>
						</div>
						</div>
					</div>
					</div>
					{{/each}}
				</tbody>
				</table>
				</div>	
			</div>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <script src="http://localhost:4000/public/js/main.js"></script>
	</body>
</html>