<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/docIll.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
	</script>
	<title>Reception</title>
</head>

<body>
	<section>

		<nav class="navbar">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="../public/imgs/logo.svg" alt="logo" width="40" height="40" align="left">
					<h3>MEDITECH</h3>
			</div>
		</nav>
		<!--div class="box1">
  </div>
  <br>
  <div class="box2">
  </div-->

		<div class="container" style="text-align: center;">
			<div id="content">
				<div id="receptioninfodiv" class="row">
					<div id="namediv" class="col-7">
                       <h1 align="left" id="receptionistname" class="col-7"><span
							style="color:#2AC5C5; font: size 70px;">Reception</span> Desk
					</h1>
					<h6 class="display-6" align="left" id="date">Todays Date: 06/02/2023</h6>
					<img src="../public/imgs/reception.svg" class="rpic">
						<!--img src="../public/imgs/reception.svg" id="rpic" style="width: 10; height:10;"-->
					</div>	
				</div>

				<!-- New Record Modal -->
				<div class="modal fade" id="newrecordmodal" tabindex="-1" aria-labelledby="ModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="ModalLabel">New Patient Information</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form action="/patients" method="POST">
									<div class="mb-3">
										<label for="patientName" class="col-form-label">Patient Name:</label>
										<input id="patientName" name="patientName" type="text" class="form-control" />
									</div>
									<div class="mb-3">
										<label for="patientAge" class="col-form-label">Patient Age:</label>
										<textarea id="patientAge" name="patientAge" class="form-control"></textarea>
									</div>
									<div class="mb-3">
										<label for="Sex" class="col-form-label">Sex:</label>
										<textarea class="form-control" id="Sex" name="Sex"></textarea>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-dark"
											data-bs-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-info">Save changes</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- End of New Record Modal -->





			</div>
			<br>
			<!--div class="rectangle rounded bg-white p-5" style="height:fit-content"-->
			<div id="patientinfodiv">
		
				<!--h2 style="padding-bottom: 0.5em;">Patient List</h2-->
				<h2>Patient List</h2>
						<div id="newrecordbtndiv">
					<button type="button" class="btn btn-info" data-bs-toggle="modal"
						data-bs-target="#newrecordmodal" style="margin-left: 700px; margin-bottom:1em">New
						Record</button>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Title</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{{#each Patients}}
						<tr>
							<td>{{date}}</td>
							<td>{{patientName}}</td>
							<td>
								<button class="btn btn-info" data-bs-toggle="modal"
									data-bs-target="#editRecordModal{{id}}">Edit</button>
								<button class="btn btn-dark" onclick="deleteRecord('{{id}}')">Delete</button>
							</td>
						</tr>

						<!-- Edit Record Modal -->
						<div class="modal fade" id="editRecordModal{{this.id}}" tabindex="-1"
							aria-labelledby="editRecordModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="editRecordModalLabel">Edit Medical Record</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form>
											<div class="mb-3">
												<label for="recordTitle" class="form-label">Title</label>
												<input type="text" class="form-control" id="recordTitle"
													value="{{this.title}}">
											</div>
											<div class="mb-3">
												<label for="recordDescription" class="form-label">Description</label>
												<textarea class="form-control" id="recordDescription"
													rows="3">{{this.description}}</textarea>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary"
											onclick="saveRecord('{{this.id}}')">Save
											changes</button>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</tbody>
				</table>
			</div>

	</section>


</body>

</html>
